@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Kijelentkezés";
}


<div class="container w-50">
    <center><h1>Sikeres kijelentkezés</h1></center>



    <div class="row">
        <div class="col-6">
            <a class="btn btn-block btn-primary" href="@Url.Action("Login")">Bejelentkezés</a>
        </div>
        <div class="col-6">
            <a class="btn btn-block btn-success" href="@Url.Action("Register")">Regisztráció</a>
        </div>
    </div>




</div>