<div class="card  mb-3">
    <div class="card-header">
        <input type="text" title="title" id="title" class="form-control" />
    </div>
    <div class="card-body">
        <input type="text" title="description" id="description" class="form-control" />
        <br />
        <button class="btn btn-block btn-outline-success" onclick="newCard()">Hozzáad</button>
    </div>
</div>