@{
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
    ViewData["Title"] = "Táblák";
}


<div class="row">

    <div class="col-lg-3">
        <div class="card">
            <div class="card-header"><p>Függőben</p></div>
            <div class="card-body">
                <div class="dragula-container" id="pending" style="min-height:50px">

                </div>
                <div class="container-fluid" id="newCard">
                    <button class="btn btn-sm btn-block btn-primary" id="addButton" onclick="AddNewCard()"><i class="fa-solid fa-plus"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card">
            <div class="card-header"><p>Folyamat alatt</p></div>
            <div class="card-body">
                <div class="dragula-container" id="inProgress" style="min-height:50px">

                </div>

            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card">
            <div class="card-header"><p>Felfüggesztett</p></div>
            <div class="card-body">
                <div class="dragula-container" id="blocked" style="min-height:50px">

                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card">
            <div class="card-header"><p>Kész</p></div>
            <div class="card-body">
                <div class="dragula-container" id="done" style="min-height:50px">

                </div>
            </div>
        </div>
    </div>


</div>

<div class="modal fade" id="details" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

@section Scripts{
    <script>

        function AddNewCard() {
            $.ajax({
                url: "/table/AddNewCard",
                success: function (result) {
                    $('#newCard').append(result);
                    $("#addButton").hide();
                }
            });
        }

        function deleteCard(id) {
            if (confirm("Biztos törli a kártyát?") == true) {
                $.ajax({
                    url: `/table/DeleteCard/${id}`,
                    type: "DELETE",
                    success: function (result) {
                        refreshCards()
                    }
                });
            }
        };

        function newCard() {
            var card = new Object();
            card.Title = $('#title').val();
            card.Description = $('#description').val();
            $.ajax({
                type: "POST",
                url: "/table/CreateCard",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(card),
                success: function (result) {
                    $.ajax({
                        url: "/table/GetCardByStatus?status=0",
                        success: function (result) {
                            $('#pending').html(result);
                            $('#newCard').html("");
                            $('#addButtond').show();
                        }
                    });

                }
            });
        }

        function readMore(id) {
            $.ajax({
                url: `/table/CardDetail/${id}`,
                success: function (result) {
                    $('.modal-content').html(result);
                    $('#details').modal("show");
                }
            });
        }

        function edit(id) {
            $.ajax({
                url: `/table/EditCard/${id}`,
                success: function (result) {
                    $('.modal-content').html(result);
                    $('#details').modal("show");
                }
            });
        }

        $(document).ready(function () {
            refreshCards();
        });

        function refreshCards() {
            $.ajax({
                url: "/table/GetCardByStatus?status=0",
                success: function (result) {
                    $('#pending').html(result);
                }
            });
            $.ajax({
                url: "/table/GetCardByStatus?status=1",
                success: function (result) {
                    $('#inProgress').html(result);
                }
            });
            $.ajax({
                url: "/table/GetCardByStatus?status=2",
                success: function (result) {
                    $('#blocked').html(result);
                }
            });
            $.ajax({
                url: "/table/GetCardByStatus?status=3",
                success: function (result) {
                    $('#done').html(result);
                }
            });
        }
    </script>

    <script type="text/javascript" src="~/lib/dragula/dragula.min.js"></script>

    <script>
        dragula([
            document.getElementById('pending'),
            document.getElementById('inProgress'),
            document.getElementById('blocked'),
            document.getElementById('done')
        ])
            .on('drop', function (el, container) {
               
                
            el.className += ' ex-moved';
        })
            .on('out', function (el, container) {
                container.className = container.className.replace('ex-over', '');
                var data = new Object();
                data.id = el.id;

                switch (container.id) {
                    case 'pending':
                        data.status = 0;
                        break;
                    case 'inProgress':
                        data.status = 0;
                        break;
                    case 'blocked':
                        data.status = 0;
                        break;
                    case 'done':
                        data.status = 0;
                        break;
                }
                data.order = 0;
                fetch('/table/ReorderCards', {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data),
                })
        });
    </script>
}